@import 'variables';
@import 'mixins';

.excel__header {
	display: flex;
	height: $header-height;
	justify-content: space-between;
	left: 0;
	padding: 8px 4px 0;
	position: absolute;
	right: 0;
	top: 0;

	& .input {
		border: 1px solid transparent;
		border-radius: 2px;
		color: #000;
		height: 20px;
		font-size: 18px;
		line-height: 22px;
		min-width: 1px;
		outline: none;
		padding: 2px 7px;

		&:hover {
			border-color: $border-color;
		}

		&:focus {
			border-width: 2px;
			border-color: #1a73e8;
		}
	}

	& .button {
		@include button(#f00);
	}
}